footer {
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: medium;
}

.footer-links{
  display: flex;
  gap: 10%;
}

.footer-links a, footer a {
  color: white;
  text-decoration: none;
}

.footer-links i:hover, footer a:hover {
  color: palevioletred;
  transform: scale(1.1);
}

.fa-heart, .fa-mug-hot {
  color: palevioletred;
}
