@import '../../style';

footer {
  width: 100%;
  background-color: var(--light-blue);
  color: white;
}

.footer-links{
  display: flex;
  gap: 30%;
}

.footer-links a, footer a {
  color: white;
  text-decoration: none;
}

.footer-links i:hover, footer a:hover {
  color: var(--beige);
  transform: scale(1.1);
}

.fa-heart, .fa-mug-hot {
  color: palevioletred;
}
